<div xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment">
    <header class="header">
        <h1>StratLeaf</h1>

        <nav class="navbar navbar-expand-lg custom-navbar">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="strats">Strats</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <select class="form-select-map" name="mapSelector" aria-label="Map selection">
            <option th:each="map : ${T(com.Stratleaf.StratLeaf.CSMap).values()}"
                    th:value="${map}"
                    th:text="${map}"
                    th:selected="${map == selectedMap}">
            </option>
        </select>

<!--        <select class="form-select" name="status" aria-label="Status selection" selected th:value="${strat.status}">-->
<!--            <option value="Ready">Ready</option>-->
<!--            <option value="NotReady">Not Ready</option>-->
<!--            <option value="None">None</option>-->
<!--        </select>-->

<!--        <select class="form-select-map" name="mapSelector" aria-label="Map selection">-->
<!--            <option th:each="map : ${T(com.Stratleaf.StratLeaf.CSMap).values()}"-->
<!--                    th:value="${map}"-->
<!--                    th:text="${map}"-->
<!--                    th:selected="${map == currentMap}">-->
<!--            </option>-->
<!--        </select>-->

    </header>
</div>
