<div xmlns:th="http://www.thymeleaf.org" th:fragment="stratsTableFragment" class="stratsTable">
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>Player1</th>
            <th>Player2</th>
            <th>Player3</th>
            <th>Player4</th>
            <th>Player5</th>
            <th>Description</th>
            <th>Notes</th>
            <th>Status</th>
            <th>Side</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="strat : ${STRATS}">
            <th th:text="${strat.id}"></th>
            <td th:text="${strat.type}"></td>
            <td th:text="${strat.name}"></td>
            <td th:text="${strat.player != null ? strat.player.name : 'N/A'}"></td>
            <td th:text="${strat.player != null ? strat.player.name : 'N/A'}"></td>
            <td th:text="${strat.player != null ? strat.player.name : 'N/A'}"></td>
            <td th:text="${strat.player != null ? strat.player.name : 'N/A'}"></td>
            <td th:text="${strat.player != null ? strat.player.name : 'N/A'}"></td>
            <td th:text="${strat.description}"></td>
            <td th:text="${strat.notes}"></td>
            <td th:text="${strat.status}"></td>
            <td th:text="${strat.side}"></td>
        </tr>
        </tbody>
    </table>
</div>
