body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 24px;
}

.footer {
    height: 20px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}

.main-grid {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    flex: 1;
    width: 100%;
    min-height: 0;
}

.main-table {
    display: grid;
    grid-template-columns: 1fr 300px;
    flex: 1;
    width: 100%;
    min-height: 0;
}

.left,
.right {
    border: 1px solid #333;
    background-color: #f0f0f0;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-y: auto;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.canvas-box {
    width: 100%;
    height: 100%;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.color-indicator {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: var(--circle-color, #fff);
}

.slider-collapse {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.custom-navbar {
    background-color: #333 !important;
}

.custom-navbar .nav-link {
    color: #fff !important;
}

.custom-navbar .nav-link:hover {
    color: #ffcc00 !important;
}

.table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.form-control {
    background-color: transparent;
    border: none;
    color: #fff;
}